.container{
 margin: 10%;
 margin-top: 3%;
 margin-right: 20%;
 font-size: 150%;
}
.info{
 background-color: #2196F3;
 padding: 2%;
 font-size: 110%;
}
.jumbotron{
 background-color: grey;
 padding-left: 30%;
 color: white;
 font-size: 30px;
}
.quote{
 padding-top: 5%;
 background-color:grey;
 padding-bottom: 20%;
}
.form{
 padding-top: 5%;
 background-color: grey;
 padding-bottom: 20%;

}
